<!DOCTYPE html>
<html>
  <head>
    <title>heavy Denim: creative music in texas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="colaborate-fontfacekit/stylesheet.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="mido-fontfacekit/stylesheet.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/maryhansen.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1><a href="/">heavy Denim</a></h1>

    <div class="were not here get bored">
      <div class="we are here to">{ <a href="/about">ABOUT</a> }</div>
      <div class="disrupt to">{ <a href="/past">PAST</a> }</div>
      <div class="have the time of our lives">{{ content }}</div>
    </div>
  </body>
</html>
